PROJECT_NAME=AMA Server
ENVIRONMENT=local
DEBUG=true
API_V1_PREFIX=/api/v1
VERSION=0.1.0

SECRET_KEY=change-this-secret-key
ACCESS_TOKEN_EXPIRE_MINUTES=30

DATABASE_DRIVER=postgresql+psycopg
DATABASE_HOST=aws-1-ap-southeast-2.pooler.supabase.com
DATABASE_PORT=5432
DATABASE_NAME=postgres
DATABASE_USER=postgres.gmqdslxhgsprywlaovnp
DATABASE_PASSWORD=your-supabase-password
DATABASE_SSL_MODE=require

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0

MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET_NAME=ama
MINIO_SECURE=false
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
